@using Groupdocs.Web.UI.Signature
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.CreateSignatureStylesLoadBlock()
</head>
<body>
    @RenderBody()

    @Html.CreateSignatureScriptsLoadBlock()
    
    @RenderSection("scripts", false)

</body>
</html>
